section{
  padding: 120px;
  padding-top:40px;
  padding-bottom: 40px;
  background-color:#19299e;
}

h1{
font-family: 'Ultra', serif;
letter-spacing: 3px;
  color:#051060;
}

h2{
  font-family: 'Libre Baskerville', serif;
  font-size: 36px;
    color:#051060;
}
h3{
  font-family: 'Ultra', serif;
  letter-spacing:3px;
  font-size: 32px;
  color:#051060;
}
h4{
  font-family: 'Poppins';
  font-size: 24px;
    color:#051060
}
h5{
  font-family: 'Libre Baskerville', serif;
  font-size: 36px;
}

h5::first-line{
  /* this is a reminder to make an h5 text style since you've apparently decided to use it*/
  color:#FF0000;
}
h6{
  font-family: 'Libre Baskerville', serif;
  font-size: 36px;
}

p{
  font-family: 'Poppins', sans-serif;
}


.above-fold-background{
  top:0;
  left:0;
  position:absolute;
}



.rectangle-gradient{
  width:100%;
  height:300%;
  background-color: #53DC5E; /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom right, #53DCE5, #19299e, #19299e);
}

.solid-blue-rectangle-with-1-round-corner{
  width:95%;
  height:300%;
  margin-left:5%;
  margin-top:5%;
  background-image: linear-gradient(to bottom, #DCFAFC, #19299E);
  border-radius: 50% 0% 0% 0%;
}

.diagonal-diamond-with-2-round-corners{
  width:95%;
  height:140%;
  margin-left:5%;
  margin-top:5%;
  background-color:#DCFAFC;
  border-radius: 50% 0% 50% 0%;


}

.diagonal-diamond-glow{
  width:95%;
  height:140%;
  margin-left:5%;
  margin-top:5%;
  background-color:#DCFAFC;
  border-radius: 50% 0% 50% 0%;
  filter: blur(1600px);
  filter: drop-shadow(50px 50px 1600px #DCFAFC);
}



.above-fold-content{
  position:relative;
    padding-bottom: 200px;
    left:0;
    top:-300;
    z-index:1;
}

.buttonCTA{
  background-color: #ff9062;
  border: none;
  color: #000099;
  border-radius: 10px;
  font-size: 32;
  font-family: 'Ultra', serif;
  letter-spacing: 2px;
  padding: 25px;
  padding-left: 50px;
  padding-right: 50px;
  filter: drop-shadow( 0px, 20px, 30px, #000000 opacity(0.3);)

}

.first-image{
  border-radius: 80px;
  z-index:2;
}

.social-icons{
  text-align: right;
  font-size:1.5rem;
  color:#051060;
}

.product-options{
  position:relative;
  padding-bottom:200px;
  z-index:2;
}

.product-card{
  border-radius:30px;
  background-color:#FFF6EE;
  margin:30px;
  padding:20px;

}

.product-card-img{
  width:100px;
  aspect-ratio:1;
  margin-bottom:20px;
  border-radius:20px;
}

#mid-page-divider{
  padding:0px;
  height:0px;
  position:relative;
  top:-170px;
}

.mid-page-divider-img{
  width:33%;
  margin-left:-30px;
  margin-right:-30px;
}

#benefits{
  background-color:#E9F4F6;
  padding-top:100px;
  padding-bottom:50px;
}

.benefit{
  padding-top: 50px;
  margin-bottom: 50px;
  height:300px;
}

.benefits-text{
  text-align:center;
  display:inline;
  vertical-align: middle;
}

.benefits-img{
  border-radius:50px;
}

#testimonials{
  color:#FFF6EE;
  position:static;
}

.carousel-inner{
  align-items: center;
  height:280px;
  color: #FFF6EE;
}
.carousel-item{
  padding:60px;
  color:#FFF6EE;
}

.test-img{
  border-radius:100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  height:150px;
}

.test-left-side{
  display:block;
  text-align:center;
}

.test-quote::before, .test-quote::after{
  content:open-quote;
  font-size: 48px;
  letter-spacing: 10px;
}

 .test-quote::after{
   content:close-quote;
 }


.test-button{
  background-color: #FF0000;
}


#footer{
  background-color:#E9F4F6;
}
