
h1{
font-family: 'Ultra', serif;
letter-spacing: 3px;
  color:#051060
}

h2{
  font-family: 'Libre Baskerville', serif;
  font-size: 36px;
    color:#051060
}
h3{
  font-family: 'Ultra', serif;
  letter-spacing:3px;
  font-size: 32px;
    color:#051060
}
h4{
  font-family: 'Poppins';
  font-size: 24px;
    color:#051060
}
h5{
  font-family: 'Libre Baskerville', serif;
  font-size: 36px;
}

h5::first-line{
  /* this is a reminder to make an h5 text style since you've apparently decided to use it*/
  color:#FF0000;
}
h6{
  font-family: 'Libre Baskerville', serif;
  font-size: 36px;
}

p{
  font-family: 'Poppins', sans-serif;
}

body{
  padding: 120px;
  padding-top:40px;
  padding-bottom: 40px
}


#above-fold{
  padding-bottom: 200px;
}

.buttonCTA{
  background-color: #ff9062;
  border: none;
  color: #000099;
  border-radius: 20px;
  font-size: 32;
  font-family: 'Ultra', serif;
  letter-spacing: 2px;
  padding: 25px;
  padding-left: 50px;
  padding-right: 50px;

}

.first-image{
  border-radius: 80px
}

.product-card{
  margin:30px;
  padding:20px;
  border-radius:20%;
  background-color:#FFF6EE;
}

.product-card-img{
  width:100;
  aspect-ratio:1;
  margin-bottom:20px;
  border-radius:20px;
}

#testimonials{
  background-color: #000000;
  color:#FFF6EE;
  position:static;
}

.carousel-inner{
  align-items: center;
  height:280px;
}
.carousel-item{
  padding:60px;
}

.test-img{
  border-radius:100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  height:150px;
}

.test-left-side{
  display:block;
  text-align:center;
}

.test-quote::before{
  content:open-quote;
  font-size: 48px;
  letter-spacing: 10px;
}

.test-quote::after{
  content:close-quote;
  font-size: 48px;
  letter-spacing: 10px;
}

.test-button{
  background-color: #FF0000;
}

#press{
  background-color: #000000;
  color:#FFF6EE;
  padding-bottom:5%;
}

.press-logo{
  width:100px;
  height:50px;
}
