h1{
font-family: 'Ultra', serif;
letter-spacing: 3px;
}

p{
  font-family: 'Poppins', sans-serif;
}

h2,h3,h4,h5{
  font-family: 'Libre Baskerville', serif;
}

body{
  padding: 120px;
  padding-top:40px;
  padding-bottom: 40px
}
h4::first-line{
  color:#FF0000;
}

.buttonCTA{
  background-color: #ff9062;
  border: none;
  color: #000099;
  border-radius: 20px;
  font-size: 32;
  font-family: 'Ultra', serif;
  letter-spacing: 2px;
  padding: 25px;
  padding-left: 50px;
  padding-right: 50px;

}

.first-image{
  border-radius: 80px
}


#testimonials{
  background-color: #000000;
  color:#FFF6EE;
  position:static;
}

.test-img{
  border-radius:100%;
  margin:20px;
  display:block;
}

.test-names{
  display:block;
  text-align:center;
}

.test-quote::before{
  content:open-quote;
  font-size: 48px;
  letter-spacing: 10px;
}

.test-quote::after{
  content:close-quote;
  font-size: 48px;
  letter-spacing: 10px;
}

#press{
  background-color: #000000;
  color:#FFF6EE;
  padding-bottom:5%;
}

.press-logo{
  width:100px;
  height:50px;
}

.sect-one{
  background:#FFC145;
  position:relative;
  padding: 10vh;
}


.one__icon{
  text-align:center;
  background: #AA8000;
  color: #FFFFFF;
  width:100px;
  height:100px;
  margin: 0 auto;
  border-radius:50%;
  display: grid;
  place-items: center;
  z-index:1;
}

.sect-one::after,
.sect-one::before{
  position:absolute;
  content: '';
  width:60px;
  height: 60px;
  bottom:-10px;
  background:#FFC145;
}

.sect-one::before{
  transform: skew(0,20deg);
  right: 50%;
  z-index:0;
}

.sect-one::after{
  transform: skew(0,-20deg);
  left: 50%;
  z-index:10;
}


.sect-two{
  background:#DD7777;
  padding: 10vh;
}

.two__img{
  text-align:center;
  border-radius:0;
  width:400px;
  height:400px;
  clip-path:polygon(200px 0px, 400px 127px, 345px 400px, 55px 400px, 0px 127px);
}

.sect-three{
  background:#4422EE;
  padding: 10vh;
}
